<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="marbled-bg">

    <h1 class="library-title">Meditation Library</h1>

</header>

<section class="meditations-library">

    {{#each data}}
    <article class="meditation">
        <div class="meditation-info">
            <h2 onclick="location.href='/api/meditations/{{id}}'">{{title}}</h2>
            <p>{{instructorId}}</p>
            <p>{{duration}}m</p>
        </div>
        <button type="button" class="play-button" onclick="location.href='/api/meditations/{{id}}'">
            <i class="fa fa-play-circle fa-4x"></i>
        </button>
    </article>
    {{/each}}

</section>


{{!-- TODO:
display instructor name
UserMeditation id's
display recently played
recent/home page
adjust for desktop
progress bar for recent page4
--}}