{{#each data}}
    <p onclick="location.href='/recipe/{{id}}'">Recipe: {{name}}</p>
    {{#if cookTime}}
        <p>Cook Time: {{cookTime}}</p>
    {{/if}}
    <p>Ingredients: {{ingredients}}</p>
    <p>Dairy Free: {{isDairyFree}}</p>
    <p>--------------------</p>
{{/each}}