<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/progress-bar.css">

<header class="marbled-bg">

    <div class="weekly-duration">
        <div role="progress-bar" aria-valuenow="{{user.timeListened}}" aria-valuemin="0" aria-valuemax="{{user.weeklyGoal}}" style="--value: {{ getPercentListened user.timeListened user.weeklyGoal}};"></div>
        <p style="font-size: 60px; font-weight: 800; text-align: center;"></p>
        <h1>Weekly Practice Duration</h1>
    </div>
    <button type="button" id="menu" onclick="location.href='/api/meditations/'">
        <img src="/images/menu-list.svg">
    </button>

</header>

<section class="recent-meditations">
    <p class="recently-played">Recently Played</p>
    {{#each meditations}}
    <article class="meditation">
        <div class="meditation-info">
            <h2>{{title}}</h2>
            <p>{{instructor.name}}</p>
            <p>{{duration}}m</p>
        </div>
        <button type="button" class="play-button" onclick="location.href='/api/meditations/{{id}}'">
            <i class="fa fa-play-circle fa-4x"></i>
        </button>
    </article>
    {{/each}}
</section>

<style>
    body {
        background: unset;
    }
</style>