{{#each data}}
    <p onclick="location.href='/meditations/{{id}}'">{{dataValues.title}}</p>
    <p>{{dataValues.instructor}}</p>
    <p>{{dataValues.duration}}</p>
    <p>{{dataValues.description}}</p>
    <p>--------------------</p>
{{/each}}