<link rel="stylesheet" href="/css/profile.css">

<h1>User Profile</h1>

<div id="user-profile">

  <label for="fName">First Name</label>
  <input type="text" id="fname" name="firstname" value="{{user.dataValues.firstName}}" placeholder="Enter your first name">

  <label for="lName">Last Name</label>
  <input type="text" id="lname" name="lastname" value="{{user.dataValues.lastName}}" placeholder="Enter your last name">

  <label for="uName">Username</label>
  <input type="text" id="uname" name="username" value="{{user.dataValues.username}}" placeholder="Update your username">

  <label for="email">Email</label>
  <input type="text" id="email" name="email" value="{{user.dataValues.email}}" placeholder="Update your email address">

  <label for="goal">Weekly Goal</label>
  <input type="number" min="0" id="goal" name="goal" value="{{user.dataValues.weeklyGoal}}">

  <input type="hidden" id="id" name="id" value="{{user.dataValues.id}}">


  <form class="save-content" action="/update/{{updateInfo.id}}">
    {{!-- <button type="button" id="saveBtn" onclick="saveUser()">Save</button> --}}
  <input type="submit" name="Save" value="Save" id="saveBtn">
</form>


  <button onclick="document.getElementById('id01').style.display='block'">Logout</button>

  <div id="id01" class="logout">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="logout">×</span>

    <form class="logout-content" action="/logout/{{logout.id}}">
      <div class="container">
        <h1>Logout</h1>
        <p>Are you sure you want to logout of your account?</p>

        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn">Cancel</button>
          <button type="button" id="logout" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Logout</button>
        </div>
      </div>
    </form>
  </div>

  <button onclick="document.getElementById('id02').style.display='block'">Delete Account</button>

  <div id="id02" class="delete">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="delete">×</span>

    <form class="delete-content" action="/users/{{user.id}}">
      <div class="container">
        <h1>Delete Account</h1>
        <p>Are you sure you want to delete your account?</p>

        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id02').style.display='none'"
            class="cancelbtn">Cancel</button>
          <button type="button" id="deletebtn">Delete</button>
        </div>
      </div>
    </form>
  </div>

  <script src="./js/logout.js"></script>
  <script src="./js/profile.js"></script>
  <script src="/js/delete-account.js"></script>